@import url("./colors.css");

window {
    margin: 5px;
    border: 0px;
    border-radius: 15px;
    color: #00FF00;
    background-color: rgba(61, 58, 58, 0.85);
    font-family: monospace;
    font-size: 15px;
}

#input {
    margin: 20px;
    margin-bottom: 0px;
    color: #00FF00;
    font-weight: bold;
    padding: 10px;
    border: 3px solid #00FF00;
    border-radius: 15px;
    background-color: transparent;
}

#outer-box {
    margin: 20px;
    border: 3px solid #00FF00;
    border-radius: 15px;
    background-color: transparent;
}

/* Title is normally not available in wofi v1.5.1. If you want it,
 * you need to build from newest source!
 */

#title {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 15px;
    color: linear-gradient(90deg,
        @rb-red 0%,
        @rb-orange 16.6%,
        @rb-yellow 33.3%,
        @rb-green 50%,
        @rb-blue 66.6%, 
        @rb-violet 83.3%);
}

#scroll {
    margin: 10px;
    border: 3px solid #00FF00;
    border-radius: 15px;
    background-color: transparent;
}

#inner-box {
    margin: 10px;
    border: none;
    background-color: transparent;
}

#text {
    margin: 0px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
}

#img {
    margin: 8px;
    border: none;
    background-color: transparent;
}

#text:selected {
    margin: 0px;
    margin-left: 10px;
    border: none;
    color: #00FF00;
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;
}

#entry {
    margin: 0px;
    border: none;
    background-color: transparent;
}

#entry:selected {
    margin: 0px;
    color: white;
    border: 2px solid #00FF00;
    border-radius: 15px;
    background-color: transparent;
}

